<script type="text/javascript" charset="utf-8">
var tgSysmenu;
$(document).ready(function(){
	tgSysmenu = $('#tg-sysmenu').treegrid({
		url : sys.basePath() + '/sys/resources/findMenuList',
	    fit : true,
	    fitColumns : false,
	    striped : true,
	    border : false,
	    lines: true,
	    idField : 'id',
	    treeField : 'menuName',
	    pagination : false,
	    singleSelect : true,
	    columns : [[
	                {field:'id', title:'ID', width:100},
	                {field:'parentId', title:'父节点', width:100},
	                {field:'resourceName',title:'菜单名称', width:300},
	                {field:'resourceIcon',title:'图标', width:100, align:'center', formatter:viewMenuIcon},
	                {field:'resourceUrl',title:'菜单链接', width:300},
	                {field:'resourceOrder',title:'排序',width:100,align:'center'}
	          ]],
	    onLoadSuccess : function(row, data) {
        },
        onLoadError : function() {
            $.messager.show({
                title : '提示',
                msg : '加载失败！'
            });
        }
}); // END datagrid

}); // END jQuery

function viewMenuIcon(value, rows, index) {
	return '<span class="tree-folder ' + value + '"></span>';
}
</script>

<div id="tg-sysmenu" style="padding:10px;"></div>
