<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.management.dao.ResourcesDao">
	<resultMap id="BaseResultMap" type="com.jd.management.domain.Resources">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="resource_code" property="resourceCode" jdbcType="VARCHAR" />
		<result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
		<result column="resource_type" property="resourceType" jdbcType="TINYINT" />
		<result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
		<result column="resource_level" property="resourceLevel" jdbcType="TINYINT" />
		<result column="resource_icon" property="resourceIcon" jdbcType="VARCHAR" />
		<result column="resource_order" property="resourceOrder" jdbcType="TINYINT" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="yn" property="yn" jdbcType="TINYINT" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		<trim prefix="" suffix="" suffixOverrides=",">
		id,
		parent_id,
		resource_code,
		resource_name,
		resource_type,
		resource_url,
		resource_level,
		resource_icon,
		resource_order,
		status,
		description,
		create_time,
		update_time,
		create_user,
		update_user,
		yn,
		ts,
		</trim>
	</sql>
	
	<!-- 根据Id查询 -->
	<select id="getResources" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from t_resources
		where id = #{id, jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件查询列表 -->
	<select id="findResourcesList" resultMap="BaseResultMap" parameterType="com.jd.management.condition.ResourcesCondition">
		select
		<include refid="Base_Column_List" />
		from t_resources
		<where>
		    yn = 1
		</where>
	</select>

	<!-- 插入实体 -->
	<insert id="insertResources" parameterType="com.jd.management.domain.Resources" useGeneratedKeys="true" keyProperty="id">
		insert into t_resources 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		id,
		parent_id,
		resource_code,
		resource_name,
		resource_type,
		resource_url,
		resource_level,
		resource_icon,
		resource_order,
		status,
		description,
		create_time,
		update_time,
		create_user,
		update_user,
		yn,
		ts,
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		#{id,jdbcType=BIGINT}, 
		#{parentId,jdbcType=BIGINT}, 
		#{resourcesCode,jdbcType=VARCHAR}, 
		#{resourcesName,jdbcType=VARCHAR}, 
		#{resourcesType,jdbcType=TINYINT}, 
		#{resourcesUrl,jdbcType=VARCHAR}, 
		#{resourcesLevel,jdbcType=TINYINT}, 
		#{resourcesIcon,jdbcType=VARCHAR}, 
		#{resourcesOrder,jdbcType=TINYINT}, 
		#{status,jdbcType=VARCHAR}, 
		#{description,jdbcType=VARCHAR}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{updateTime,jdbcType=TIMESTAMP}, 
		#{createUser,jdbcType=VARCHAR}, 
		#{updateUser,jdbcType=VARCHAR}, 
		#{yn,jdbcType=TINYINT}, 
		#{ts,jdbcType=TIMESTAMP}, 
		</trim>
	</insert>

    <!-- 修改实体 -->
	<update id="updateResources" parameterType="com.jd.management.domain.Resources">
		update t_resources
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="id != null">
                    id = #{id,jdbcType=BIGINT},
                </if>
                <if test="resourcesCode != null">
                    resource_code = #{resourcesCode,jdbcType=VARCHAR},
                </if>
                <if test="resourcesName != null">
                    resource_name = #{resourcesName,jdbcType=VARCHAR},
                </if>
                <if test="resourcesType != 0">
                    resource_type = #{resourcesType,jdbcType=TINYINT},
                </if>
                <if test="resourcesUrl != null">
                    resource_url = #{resourcesUrl,jdbcType=VARCHAR},
                </if>
                <if test="resourcesLevel != 0">
                    resource_level = #{resourcesLevel,jdbcType=TINYINT},
                </if>
                <if test="resourcesIcon != null">
                    resource_icon = #{resourcesIcon,jdbcType=VARCHAR},
                </if>
                <if test="resourcesOrder != 0">
                    resource_order = #{resourcesOrder,jdbcType=TINYINT},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="parentId != null">
                    parent_id = #{parentId,jdbcType=BIGINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createUser != null">
                    create_user = #{createUser,jdbcType=VARCHAR},
                </if>
                <if test="updateUser != null">
                    update_user = #{updateUser,jdbcType=VARCHAR},
                </if>
                <if test="ts != null">
                    ts = #{ts,jdbcType=TIMESTAMP},
                </if>
                <if test="isDelete != 0">
                    yn = #{yn,jdbcType=TINYINT},
                </if>
            </trim>
        </set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<!-- 删除实体 -->
	<update id="deleteResources" parameterType="Long">
		update t_resources
		<set>
			yn=1
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>