<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.management.projects.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.jd.management.domain.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="TINYINT" />
		<result column="version" property="version" jdbcType="TINYINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		<trim prefix="" suffix="" suffixOverrides=",">
		id,
		user_code,
		user_name,
		telephone,
		mobile_phone,
		email,
		status,
		create_time,
		update_time,
		create_user,
		update_user,
		ts,
		is_delete,
		version,
		</trim>
	</sql>
	
	<!-- 根据Id查询 -->
	<select id="getUser" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件查询列表 -->
	<select id="findUserList" resultMap="BaseResultMap" parameterType="com.jd.management.projects.condition.UserCondition">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>   
		 is_delete=0
	 	<if test="po.userCode != null and po.userCode != ''">
			   <![CDATA[   and user_code = #{po.userCode,jdbcType=VARCHAR}   ]]>  
    	 </if>
	 	<if test="po.userName != null and po.userName != ''">
			   <![CDATA[   and user_name = #{po.userName,jdbcType=VARCHAR}   ]]>  
    	 </if>
		</where>
	</select>
	<!-- 插入实体 -->
	<insert id="insertUser" parameterType="com.jd.management.projects.domain.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		id,
		user_code,
		user_name,
		telephone,
		mobile_phone,
		email,
		status,
		create_time,
		update_time,
		create_user,
		update_user,
		ts,
		is_delete,
		version,
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		#{id,jdbcType=BIGINT}, 
		#{userCode,jdbcType=VARCHAR}, 
		#{userName,jdbcType=VARCHAR}, 
		#{telephone,jdbcType=VARCHAR}, 
		#{mobilePhone,jdbcType=VARCHAR}, 
		#{email,jdbcType=VARCHAR}, 
		#{status,jdbcType=TINYINT}, 
		#{createTime,jdbcType=TIMESTAMP}, 
		#{updateTime,jdbcType=TIMESTAMP}, 
		#{createUser,jdbcType=VARCHAR}, 
		#{updateUser,jdbcType=VARCHAR}, 
		#{ts,jdbcType=TIMESTAMP}, 
		#{isDelete,jdbcType=TINYINT}, 
		#{version,jdbcType=TINYINT}, 
		</trim>
	</insert>
		<!-- 修改实体 -->
	<update id="updateUser" parameterType="com.jd.management.projects.domain.entity.User">
		update t_user
		<set>
			<trim prefix="" suffix="" suffixOverrides=",">
	        <if test="id != null">
					id = #{id,jdbcType=BIGINT},
	      		</if>
	        <if test="userCode != null">
					user_code = #{userCode,jdbcType=VARCHAR},
	      		</if>
	        <if test="userName != null">
					user_name = #{userName,jdbcType=VARCHAR},
	      		</if>
	        <if test="telephone != null">
					telephone = #{telephone,jdbcType=VARCHAR},
	      		</if>
	        <if test="mobilePhone != null">
					mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
	      		</if>
	        <if test="email != null">
					email = #{email,jdbcType=VARCHAR},
	      		</if>
			<if test="status != 0">
					status = #{status,jdbcType=TINYINT},
	      		</if>
	        <if test="createTime != null">
					create_time = #{createTime,jdbcType=TIMESTAMP},
	      		</if>
	        <if test="updateTime != null">
					update_time = #{updateTime,jdbcType=TIMESTAMP},
	      		</if>
	        <if test="createUser != null">
					create_user = #{createUser,jdbcType=VARCHAR},
	      		</if>
	        <if test="updateUser != null">
					update_user = #{updateUser,jdbcType=VARCHAR},
	      		</if>
	        <if test="ts != null">
					ts = #{ts,jdbcType=TIMESTAMP},
	      		</if>
			<if test="isDelete != 0">
					is_delete = #{isDelete,jdbcType=TINYINT},
	      		</if>
			<if test="version != 0">
					version = #{version,jdbcType=TINYINT},
	      		</if>
			</trim>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 删除实体 -->
	<update id="deleteUser" parameterType="Long">
		update t_user
		<set>
			is_delete=1
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>